#lifelines{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75px 75px;
    -fx-display: inline-block;
    -fx-pref-width: 75px;
    -fx-pref-height: 75px;
}
.fiftyFifty{
    -fx-background-image: url('/etapy/50na50.png');
}
.noFiftyFifty{
    -fx-background-image: url('/etapy/50na50przekreslone.png');
}
.askFriend{
    -fx-background-image: url('/etapy/telefondoprzyjaciela.png');
}
.noAskFriend{
    -fx-background-image: url('/etapy/przekreslonytelefondoprzyjaciela.png');
}
.audience{
    -fx-background-image: url('/etapy/publicznosc.png');
}
.noAudience{
    -fx-background-image: url('/etapy/przekreslonapublicznosc.png');
}



.back{
    -fx-background-color: #060646;
}
.rescue{
    -fx-pref-height: 500px;
}



#table{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 250px 600px;
}
.q1{
    -fx-background-image: url('/etapy/q1.png');
}
.q2{
    -fx-background-image: url('/etapy/q2.png');
}
.q3{
    -fx-background-image: url('/etapy/q3.png');
}
.q4{
    -fx-background-image: url('/etapy/q4.png');
}
.q5{
    -fx-background-image: url('/etapy/q5.png');
}
.q6{
    -fx-background-image: url('/etapy/q6.png');
}
.q7{
    -fx-background-image: url('/etapy/q7.png');
}
.q8{
    -fx-background-image: url('/etapy/q8.png');
}
.q9{
    -fx-background-image: url('/etapy/q9.png');
}
.q10{
    -fx-background-image: url('/etapy/q10.png');
}
.q11{
    -fx-background-image: url('/etapy/q11.png');
}
.q12{
    -fx-background-image: url('/etapy/q12.png');
}
.q13{
    -fx-background-image: url('/etapy/q13.png');
}
.q14{
    -fx-background-image: url('/etapy/q14.png');
}
.q15{
    -fx-background-image: url('/etapy/q15.png');
}
